<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <script type="module" src="https://unpkg.com/rapidoc/dist/rapidoc-min.js"></script>
</head>

<body>
  <rapi-doc spec-url="{{specUrl}}" theme="light" render-style="read" show-header="true"
    allow-authentication="true"></rapi-doc>
</body>

</html>